mockit-ext/src/main/resources/META-INF/mock-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.kotall.com/schema/mock-ext"
        targetNamespace="http://www.kotall.com/schema/mock-ext"
        elementFormDefault="qualified">
    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="interface" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>