mockit-dubbo/src/main/resources/META-INF/mock-ext.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kotall.com/schema/mock-ext"
           xmlns="http://www.kotall.com/schema/mock-ext"
           elementFormDefault="qualified">

    <xs:element name="reference">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="interface" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>